@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Work+Sans&display=swap');

/* ------- General  ------- */
*{
    margin: auto 0;
    padding:0;
    border:0;
}

.container {
    padding: 0;
    margin: 0;
    width: 100%;
}


.brand-logo {
    font-family: 'Work Sans', sans-serif;
    font-style: italic;
    font-weight: bold; 
    margin-left: 10px;
}

.header-text {
    font-family: 'Catamaran', sans-serif;
    margin: 20px 10px;
    color: #f5a848;
    text-align: center;
}

h3 {
    font-family: 'Catamaran', sans-serif;
    color: #f5a848;
    font-style: italic;
    font-weight: bold;
}


h4, h5 {
    font-family: 'Catamaran', sans-serif;
    color: #f5a848;
    font-weight: bold;
}


hr.solid {
  border-top: 3px solid #f5a848;
  width: 10px;
}

.block-divider {
  width: 150px;
  height: 2px;
  background-color: #f5a848;
  border: 5px;
  margin: 0 auto;
}

.valign-wrapper {
    margin-top: 10px;
}


.flashes h4 {
    line-height: 2;
}


.why-us-icon {
  font-size: 30px;   
  margin: auto;
  padding: 2px;
}

/* ------- Footer ------- */
.footer {
    position: absolute;
	text-align: center;
    width: 100%;
    margin-top: 20px;
}

.footer-icon {
padding-top: 20px;
}


.footer-icon a {
    color: white;
    margin-right: 10px;
}

.align {
    text-align: center;
}

#copyright-text {
    color: white;
    text-align: center;
}

/* ------- Cocktail cards  ------- */

.card-image img {
    margin-top: 10px;
    height: 180px;
    overflow: hidden;
    width: 100%;
    object-fit: contain;
}

.cocktail-name {
    color: black;
    font-weight: bold;
}

#make-it {
    color: green;
     margin: auto;
    font-weight: bold;

}

/* ------- Search Funtion on All Cocktails page  ------- */

.search-recipe {
    margin: 0 auto;
    width: 80%;
}

.category-btns {
    width: 100%;
    margin: 10px auto;
    text-align: center;
}


.category-btns a {
    margin: 3px;
   
}

/* ------- Home Page hero-Image -------  */

#hero-outer {
    height:600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: -15px;
    margin-right: -15px;
}


.hero-img {    
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: cover;
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}


.cover-text {
    color: white;
    right: 10px;
    position: absolute;
    bottom: 50px;
    background-color: rgba(245, 158, 72, 0.9);
    width: 320px;
    height: 150px;
    font-size: 100%;
    margin: auto;
    padding: 5px;

}

.cover-text p {
    font-style: italic;
}

.btn-wrapper {
    position: relative;
    left: 50px;
    padding: 20px;
    bottom: 10px;
    width: fit-content;
}

#carousel-section {
    height: 500px;
    object-fit: contain;
}


@media screen and (max-width: 420px) {
    .valign-wrapper {
        display: block;
    
    }

/* ------- Add/Edit cocktail pages -------  */

.form-cocktail-icon i {
color: green;
}



/* ------- Profile page -------  */

#profile-pic {
    margin-top: 10px;
    height: 100px;
    overflow: hidden;
    object-fit: contain; 
} 

.card-content {
    text-align: center;
}