.brand-logo {
    font-style: italic;
    font-weight: bold; 
}

.register {
    font-style: italic;
    font-weight: bold;
}

.flashes h4 {
    line-height: 2;
}

footer {
    position: absolute;
	text-align: center;
	width: 100%;
}

footer a:hover {
	color: green;
}