  {% extends "base.html" %}
  {% block content %}

  <h3 class="center-align">Add Cocktail</h3>

  <div class="row">
      <form class="form-width col s12" method="POST" action="{{ url_for('add_cocktail') }}">
          <div class="card-panel edit-card">

              <!-- Cock"tail Name -->
              <div class="row">
                  <div class="input-field col s12">
                      <i class="far fa-dot-circle prefix form-cocktail-icon margin-1"></i>
                      <label for="cocktail_name">Cocktail Name</label>
                      <input type="text" class="form-control validate" id="cocktail_name" name="cocktail_name"
                          aria-describedby="cocktail_name" minlength="3" maxlength="25" required>
                  </div>
              </div>

              <!-- Select Category -->
              <div class="row">
                  <div class="input-field col s12">
                      <i class="far fa-folder-open prefix form-cocktail-icon-margin-1"></i>
                      <select name="category_name" id="category_name" class=" form-control validate" required>
                          <option value="" disabled selected>Choose Category</option>
                          {% for category in categories %}
                          <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                          {% endfor %}
                      </select>
                      <label for="category_name">Cocktail Category</label>
                  </div>
              </div>




              <!-- Brief Description -->
              <div class="row">
                  <div class="input-field col s12">
                      <i class="fas fa-concierge-bell prefix form-cocktail-icon-margin-1"></i>
                      <label for="cocktail_description">Brief Description</label>
                      <input type="text" class="form-control validate" name="cocktail_description"
                          id="cocktail_description" aria-describedby="cocktail_description" maxlength="90" required>
                  </div>
              </div>

              <!-- Image URL -->
              <div class="row">
                  <div class="input-field col s12">
                      <i class="fas fa-camera prefix form-cocktail-icon-margin-1"></i>
                      <label for="cocktail_img">Image URL</label>
                      <input type="text" class="form-control validate" name="cocktail_img" id="cocktail_img"
                          aria-describedby="cocktail_img" required>
                  </div>
              </div>

              <!-- Image Source -->
              <div class="row">
                  <div class="input-field col s12">
                      <i class="far fa-copyright prefix form-cocktail-icon-margin-1"></i>
                      <label for="image_source"> Artist or Website</label>
                      <input type="text" class="form-control validate" name="image_source" id="image_source"
                          aria-describedby="image_source" required>
                  </div>
              </div>


              <!-- Servings quantity -->
              <div class="row">
                  <div class="input-field col s12">
                      <i class="fas fa-mitten prefix form-cocktail-icon-margin-2"></i>
                      <label for="cocktail_serv">Number of Servings</label>
                      <input type="text" class="form-control validate" name="cocktail_serv" id="cocktail_serv"
                          aria-describedby="cocktail_serv" required>
                  </div>
              </div>


              <!-- Ingredients -->
              <div class="row ingredient-row">
                  <div class="input-field col s12 ingr-input">
                      <i class="far fa-list-alt prefix form-cocktail-icon-margin-2"></i>
                      <label for="cocktail_ingredients">Ingredients</label>
                      <input type="text" class="form-control validate" name="cocktail_ingredients"
                          id="cocktail_ingredients" aria-describedby="cocktail_ingredients" minlength="3" required>
                  </div>
              </div>

              <!--Add Ingredient button-->
              <div class="row rem-height">
                  <div class="input-field col s1">
                      <a href="#" class=" prefix">
                          <i class="fas fa-plus add-ingr-buttn append-btn-margin-1"></i>
                      </a>
                  </div>
              </div>

              <!-- Preparation -->
              <div class="row prep-row">
                  <div class="input-field col s12 step-input">
                      <i class="far fa-list-alt prefix form-cocktail-icon-margin-2"></i>
                      <label for="cocktail_instructions">Preparation</label>
                      <input type="text" class="form-control validate" name="cocktail_instructions"
                          id="cocktail_instructions" aria-describedby="cocktail_instructions" required>
                  </div>
              </div>

              <!--Add Preparation Step button-->
              <div class="row rem-height">
                  <div class="input-field col s1">
                      <a href="#" class="add-step-buttn prefix">
                          <i class="fas fa-plus append-btn-margin-2"></i>
                      </a>
                  </div>
              </div>

              <!-- Add/Back to Cocktails Buttons -->
              <div class="row center-align">
                  <div class="col s12">
                      <button class="btn waves-effect waves-light present-buttn" type="submit" name="action">Add
                          Cocktail</button>
                      <a href="{{ url_for('get_cocktails') }}" class="back  btn btn-cancel orange">Back to Cocktails</a>
                  </div>
              </div>
          </div>
      </form>
  </div>
  </section>

  {% endblock %}