  {% extends "base.html" %}
  {% block content %}

  <h3 class="center-align">Add Category</h3>

  <div class="row">
      <form class="col s12" method="POST" action="{{ url_for('add_category') }}">

          <!-- Category Name -->
          <div class="row">
              <div class="input-field col s12">
                  <input type="text" class="form-control validate" id="category_name" name="category_name"
                      aria-describedby="category_name" maxlength="25" required>
                  <label for="category_name">Category Name</label>
              </div>


              <!-- Add Category button/cancel button (redirect to cocktails) -->
              <div class="row center-align">
                  <div class="col s12">
                      <button class="btn green waves-effect waves-light present-buttn" type="submit">Add
                          Category</button>
                      <a href="{{ url_for('get_categories') }}" class="back orange darken-1 btn btn-cancel">Cancel</a>
                  </div>
              </div>
          </div>
        </form>  
  </div>

  {% endblock %}