{% extends "base.html" %}
{% block content %}

<h3 class="center-align"> All Cocktails</h3>

<!-- Search Cocktail Function-->
<div class="row card-panel green lighten-5 search-cocktail">
    <form action="{{ url_for('search') }}" method="post" class="col s12">
        <div class="row valign-wrapper center-align">
            <div class="input-field col s12 m8 center-align">
                <i class="fas fa-search prefix light-green-text text-darken-4"></i>
                <input type="text" name="query" id="query" minlength="3" class="validate" placeholder="Search Cocktails"
                    required>
                <a href="{{ url_for('get_cocktails') }}" class="btn reset-btn orange darken-1">Reset</a>
                <button type="submit" class="btn search-btn">Search</button>
            </div>
        </div>
    </form>
</div>

<!-- Buttons to Search Cocktails by Category -->
<div class="row">
    <div class="col category-btns center-align">
        <a href="{{ url_for('get_cocktails') }}" class="btn">All</a>
        <a href="{{ url_for('search_cocktails', query='Stirred') }}" class="btn">Stirred</a>
        <a href="{{ url_for('search_cocktails', query='Sour') }}" class="btn">Sour</a>
        <a href="{{ url_for('search_cocktails', query='Fizz') }}" class="btn">Fizz</a>
        <a href="{{ url_for('search_cocktails', query='Frozen') }}" class="btn">Frozen</a>
        <a href="{{ url_for('search_cocktails', query='Highballs') }}" class="btn">Highballs</a>
        <a href="{{ url_for('search_cocktails', query='Non-Alcoholic') }}" class="btn">Non-Alcoholic</a>
    </div>
</div>

<!-- Cocktails Cards-->
{% if cocktails|length > 0 %}
<div class="row" style="width:90%;">
    {% for cocktail in cocktails %}
    <div class="col s12 m6 l4">
        <div class="card mediumgit ">
            <div class="card-image">
                <img src="{{ cocktail.cocktail_img }}"
                    onerror="this.onerror=null;this.src='../static/images/cocktail_default.jpg';"
                    alt="{{ cocktail.cocktail_name }}">
            </div>

            <!-- Cocktail Name -->
            <div class="card-content">
                <a href="{{ url_for('cocktail', cocktail_id=cocktail._id) }}">
                    <h6 class="cocktail-name">{{ cocktail.cocktail_name }}</h6>
                </a>
                <h6>{{ cocktail.category_name }}</h6>

                <div class="row">
                    <!-- Access Cocktail Button-->
                    <div class="card-action">
                        <a id="make-it" href="{{ url_for('cocktail', cocktail_id=cocktail._id) }}">Make it!</a>
                    </div>

                    <!-- Edit/Delete Cocktail-->
                    <div>
                        {% if session.user == 'admin' or session.user|lower == cocktail.created_by|lower %}
                        <a href="{{ url_for('edit_cocktail', cocktail_id=cocktail._id)}}"
                            class="btn  btn-small orange btn-success m-2"><i class="fas fa-edit"></i></a>

                        <a href="#modal-question" class="modal-trigger btn del green"><i class="fas fa-trash"></i></a>
                        <div class="modal" id="modal-question">
                            <div class="modal-content">
                                <h4 class="page-indicator">Delete this Cocktail?</h4>
                                <h6>Are you sure you want to delete this cocktail?</h6>
                            </div>
                            <div class="modal-footer">
                                <a href="{{ url_for('delete_cocktail', cocktail_id=cocktail._id) }}"
                                    class="btn-small modal-close del">
                                    Delete</a>
                                <a class="btn-small modal-close back orange">Go Back</a>
                            </div>
                        </div>
                        {% endif %}

                    </div>

                </div>
            </div>

        </div>
    </div>
    {% endfor %}
</div>
{% else %}

<h4 class="center-align">No Cocktails Found!</h4>
{% endif %}
{% endblock %}