{% extends "base.html" %}
{% block content %}

<h3> All Cocktails</h3>



<!-- Cocktails Cards-->
{% if cocktails|length > 0 %}
<div class="row" style="width:90%;">
   {% for cocktail in cocktails %}
   <div class="col s12 m6 l4">
      <div class="card">
         <div class="card-image">
            <img src="{{ cocktail.cocktail_image }}"
               onerror="this.onerror=null;this.src='../static/images/cocktail_default.jpg';"
               alt="{{ cocktail.cocktail_name }}">
         </div>

         <!-- Cocktail Name -->
         <div class="card-content">
            <a href="{{ url_for('cocktail', cocktail_id=cocktail._id) }}">
               <h6 class="cocktail-name">{{ cocktail.cocktail_name }}</h6>
            </a>
            <h6>{{ cocktail.category_name }}</h6>
            <div class="row">

               <!-- Access Cocktail Button-->
               <div class="card-action">
                  <a id="Make it!" href="{{ url_for('cocktail', cocktail_id=cocktail._id) }}">Make it!</a>
               </div>

                <!-- Edit/Delete Cocktail-->
                <div>
                    <a href="{{ url_for('edit_cocktail', cocktail_id=cocktail._id) }}" class="green btn">Edit</a>
                    <a href="" class=" green btn">Delete</a>
                </div>
   
        

              
               </div>

            </div>
         </div>
      </div>
   </div>
   {% endfor %}
</div>
{% else %}

<h4 class="center-align">No Result Found</h4>
{% endif %}
{% endblock %}