<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cheers</title>
</head>
<body>
    {% for cocktail in cocktails %}
        {{ cocktail.cocktail_name }}<br>
        {{ cocktail.category_name }}<br>
        {{ cocktail.cocktail_description }}<br>
        {{ cocktail.cockail_serving }}<br>
        {{ cocktail.cocktail_ingredients }}<br>
        {{ cocktail.cocktail_method }}<br>
    {% endfor %}
</body>
</html>