{% extends "base.html" %}
{% block content %}

<h3 class="light green-text text-darken-4 center-align">Edit Profile</h3>

<div class="row">
    <form class="col s12" method="POST" action="{{ url_for('edit_profile', username=user.username|lower) }}">
        <div class="card-panel form-panel">

            <!-- Username -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-plus prefix"></i>
                    <input id="username" name="username" type="text" minlength="3" maxlength="15" placeholder="Username"
                        pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                </div>
            </div>

            <!-- Check Email -->
            <div class="row">
                <div class="input-field col s12">
                <i class="fas fa-envelope prefix"></i>
                <input id="email" name="email" type="email"  
                    placeholder="Email Address" minlength="3" class="validate"   required>
                </div>
            </div>

            <!-- Password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-lock prefix"></i>
                    <input id="password" name="password" type="password" minlength="3" maxlength="15"
                        pattern="^[a-zA-Z0-9]{5,15}$" class="validate" placeholder="Password" required>
                </div>
            </div>


            <!-- Save Changes -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn green present-buttn">
                        Save Changes
                    </button>
                    <a href="{{ url_for('profile', username=user.username|lower) }}" class="back btn green btn-cancel" >Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}