{% extends "base.html" %}
{% block content %}


<!-- Home Page Hero image -->
<section id="hero-outer">
    <div class="hero-img"></div>
    <div class="cover-text">
        <h4>Love Cocktails?</h4>
        <p>Let us help you discover of world of cocktails!</p>
        <div class="btn-wrapper">
            <a href="{{ url_for('get_cocktails') }}" class="waves-effect green btn present-buttn">Cocktails</a>
        </div>
    </div>
</section>
   

<!-- It's Cockctail Time! Section-->
<div>
<h3 class="header-text center-align"> It's Cocktail Time!</h3>
</div>

<div class="row desk-width valign-wrapper">
   <div class="col s12 m6">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
          ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
           fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.</p>
   </div>
   
   <!-- Carousel -->
   <div class="col s12 m6 center-align carousel carousel-slider">
      <a class="carousel-item" href="#one!"><img src="../static/images/cocktail-mixing.jpg" alt="Mixing cocktails"></a>
      <a class="carousel-item" href="#two!"><img src="../static/images/four-cocktails.jpg" alt="Four cockatils lined up"></a>
      <a class="carousel-item" href="#three!"><img src="../static/images/friends.jpg" alt="Friends enjoying cocktails"></a>
      <a class="carousel-item" href="#four!"><img src="../static/images/making-cocktail.jpg" alt="Making cocktails"></a>
      <a class="carousel-item" href="#five!"><img src="../static/images/summer-cocktail.jpg" alt="Enjoying Summer cocktails"></a>
   </div>
</div>

{% endblock %}  