{% extends "base.html" %}
{% block content %}


<!-- Home Page Hero image -->
<section id="hero-outer" class="col s12">
    <div class="hero-img"></div>
    <div class="cover-text">
        <h4>Love Cocktails?</h4>
        <p>Let us help you discover of world of cocktails!</p>
        <div class="btn-wrapper">
            <a href="{{ url_for('get_cocktails') }}" class="waves-effect green btn present-buttn">Cocktails</a>
        </div>
    </div>
</section>

<!-- Why visit Cheers!-->
<section>
    <div>
        <div class="col s12 m6">
            <div class="card blue-grey darken-2 center-align">
                <div class="card-content white-text">
                    <h3 class="header-text center-align"> Why Explore Cheers?</h3>

                    <ul class="center-align">
                        <li>
                            <i class="fas fa-cocktail why-us-icon"></i>
                            <p>Explore a large database of cocktails</p>
                        </li>
                        <li>
                            <i class="fas fa-globe-europe why-us-icon"></i>
                            <p>Search through global selection of exotic cocktails</p>
                        </li>
                        <li>
                            <i class="fas fa-user-friends why-us-icon"></i>
                            <p>Test them out with friends!</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- It's Cockctail Time! Section-->
<section id="carousel-section">
<div>
    <h3 class="header-text center-align"> It's Cocktail Time!</h3>
</div>

<hr class="block-divider">

<div class="row valign-wrapper">
    <div class="col s12 m6">
        <h5>What is Cheers?</h5>
            <p>Cheers! is an online community of cocktail enthusiasts who are eager to share
            their cocktail knowledge but also love to learn new cocktail recipes from
            all over the world. </p>
            <br>
        <h5>Cocktail Anyone?</h5>
            <p>The word cocktail means an alcoholic drink consisting of a spirit or spirits 
            mixed with other ingredients, such as fruit juice or cream. But fear not, we also 
            have a number of tasty non alcoholic recipes too. No need for a bartender,
            gather all your friends together and try out some of the delicious recipes that
             we have on offer!</p>
    </div>

    <!-- Carousel -->
    <div class="col s12 m6 center-align carousel carousel-slider">
        <a class="carousel-item" href="#one!"><img src="../static/images/cocktail-mixing.jpg"
                alt="Mixing cocktails"></a>
        <a class="carousel-item" href="#two!"><img src="../static/images/four-cocktails.jpg"
                alt="Four cockatils lined up"></a>
        <a class="carousel-item" href="#three!"><img src="../static/images/friends.jpg"
                alt="Friends enjoying cocktails"></a>
        <a class="carousel-item" href="#four!"><img src="../static/images/making-cocktail.jpg"
                alt="Making cocktails"></a>
        <a class="carousel-item" href="#five!"><img src="../static/images/summer-cocktail.jpg"
                alt="Enjoying Summer cocktails"></a>
    </div>
</div>
</section>

{% endblock %}