{% extends "base.html" %}
{% block content %}

    <h3 class="center-align register">Register</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel">
                <!-- email -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-envelope-square prefix light-green-text text-lighten-2"></i>
						<input id="email" name="email" type="text" class="validate">
						<label for="email">Email</label>
					</div>
                </div>
                <!-- username -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-plus prefix light-green-text text-lighten-2"></i>
						<input id="username" name="username" type="text" class="validate">
                        <label for="username">Username</label>
                        <span class="helper-text" data-error="wrong" data-success="right">Between 5 and 15 characters</span>
					</div>
                </div>
                <!-- passowrd -->
                <div class="row">
                    <div class="input-field col s12">
						<i class="fas fa-user-lock prefix light-green-text text-lighten-2"></i>
                        <input id="password" name="password" type="password" class="validate">
                        <label for="password">Password</label>
                        <span class="helper-text" data-error="wrong" data-success="right">Between 5 and 15 characters</span>
                    </div>
                </div>
                <!-- register -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large green">
                        Register <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}